@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat center center fixed;
    background-size: cover;

}
main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url(../imagens/frame-iphone.png) no-repeat;
}
section#telefone iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}
section#redes-sociais {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.200);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.600);
}
section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.800);
    transform: scale(1.1);
    transition: all 0.2s ease;
}